{% extends 'base.html' %}
{% load markdownify %}

{% block content %}

<div class="row mt-5">
    <div class="col">
        <a href="{% url 'spaces:articles' space.id %}">&laquo; Back to Colearning Space</a>
    </div>
    <div class="col text-end">
        {% if user.is_authenticated %}
            {% if has_user_joined %}
            <a href="{% url 'articles:edit' space.id article.id %}" class="btn btn-secondary">Edit Article</a>
            {% else %}
            <span title="You must join this Colearning Space to edit articles." data-bs-toggle="tooltip">
                <button type="submit" class="btn btn-secondary" disabled>Edit Article</button>
            </span>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col mt-5">
        <h1 class="text-center">{{ article.title }}</h1>
        <p class="text-center text-muted">
            Written by <a href="#">{{ article.created_by.username }}</a> on {{ article.created_date.date }}

            {% if article.updated_by and article.updated_date %}
            &ndash; Last Updated by <a href="#">{{ article.updated_by.username }}</a> on {{ article.updated_date.date }}
            {% endif %}
        </p>
        {{ article.content|markdownify }}
    </div>
</div>

{% endblock %}
