{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-4 mt-5">
        <h2 class="text-center">Register</h2>
        <p>Congratulations! Your account has been created successfully.</p>
        <p>You can join colearning spaces now to start colearning. If you cannot find what you are looking for, you can even create your own colearning space!</p>

        <p class="mt-5"><a href="{% url 'dashboard:index' %}">&laquo; Back to Home</a></p>
    </div>
</div>
{% endblock %}
