asgiref==3.5.0
astroid==2.11.2
attrs==21.4.0
backports.zoneinfo==0.2.1
dill==0.3.4
Django==4.0.4
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
packaging==21.3
platformdirs==2.5.1
pluggy==1.0.0
psycopg2-binary==2.9.3
py==1.11.0
pylint==2.13.5
pylint-django==2.5.3
pylint-plugin-utils==0.7
pyparsing==3.0.8
pytest==7.1.1
pytest-django==4.5.2
sqlparse==0.4.2
tomli==2.0.1
typing-extensions==4.1.1
wrapt==1.14.0
