container_commands:
  01_migrate:
    command: "source /usr/lib64/python3.8/venv/scripts/common/activate && python gamesiplayed/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /usr/lib64/python3.8/venv/scripts/common/activate && python gamesiplayed/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /usr/lib64/python3.8/venv/scripts/common/activate && python gamesiplayed/manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: gamesiplayed.wsgi:application
