{% extends 'spaces/base.html' %}

{% block space_content %}
<div class="col-10">
  {% if articles.count > 0 %}
  <ul class="list-group list-group-flush">
    {% for article in articles %}
    <a href="{% url 'articles:view' space.id article.id %}" class="list-group-item list-group-item-action">{{ article.title }} 
      <span class="badge 
      {% if article.score >= 0 %}
      bg-success
      {% else %}
      bg-danger
      {% endif %}
      ">{{ article.score }}</span>
    </a>
    {% endfor %}
  </ul>
  {% else %}
  <p>There is no article in this space, yet. Why don't you create one?</p>
  {% endif %}
</div>
<div class="col-2 text-end">
  {% if has_user_joined %}
  <a href="{% url 'articles:create' space.id %}" class="btn btn-primary">New Article</a>
  {% else %}
  <span title="You must join this Colearning Space to create articles." data-bs-toggle="tooltip">
    <button type="submit" class="btn btn-secondary" disabled>New Article</button>
  </span>
  {% endif %}
</div>
{% endblock %}
