{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-4 mt-5">
        <h2 class="text-center">Create Space</h2>
        <p>You can create a space to start colearning with others.</p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="row mb-4">
                <div class="col d-flex">
                </div>

                <div class="col d-flex justify-content-end">
                    {% bootstrap_button button_type="submit" content="Create" %}
                </div>
            </div>
        </form>

        <p class="mt-5"><a href="{% url 'dashboard:index' %}">&laquo; Back to Home</a></p>
    </div>
</div>
{% endblock %}
