{% extends 'spaces/base.html' %}
{% load markdownify %}

{% block space_content %}
<div class="col-10">
  {% if questions.count > 0 %}
  <ul class="list-group list-group-flush">
    {% for question in questions %}
    <a href="{% url 'questions:view' space.id question.id %}" class="list-group-item list-group-item-action">{{ question.title }} 
      <span class="badge 
      {% if question.score >= 0 %}
      bg-success
      {% else %}
      bg-danger
      {% endif %}
      ">{{ question.score }}</span>
    </a>
    {% endfor %}
  </ul>
  {% else %}
  <p>There is no question in this space, yet. Do you want to be the first one to ask?</p>
  {% endif %}
</div>
<div class="col-2 text-end">
  {% if has_user_joined %}
  <a href="{% url 'questions:create' space.id %}" class="btn btn-primary">New Question</a>
  {% else %}
  <span title="You must join this Colearning Space to ask questions." data-bs-toggle="tooltip">
    <button type="submit" class="btn btn-secondary" disabled>New Question</button>
  </span>
  {% endif %}
</div>
{% endblock %}
