{% extends 'spaces/base.html' %}
{% load markdownify %}

{% block space_content %}
<div class="col-10">
  {% if quizzes.count > 0 %}
  <ul class="list-group list-group-flush">
    {% for quiz in quizzes %}
    <a href="{% url 'quizzes:view' space.id quiz.id %}" class="list-group-item list-group-item-action">{{ quiz.question }} 
      <span class="badge 
      {% if quiz.score >= 0 %}
      bg-success
      {% else %}
      bg-danger
      {% endif %}
      ">{{ quiz.score }}</span>
    </a>
    {% endfor %}
  </ul>
  {% else %}
  <p>There is no quiz in this space, yet. Why don't you create one?</p>
  {% endif %}
</div>
<div class="col-2 text-end">
  {% if has_user_joined %}
  <a href="{% url 'quizzes:create' space.id %}" class="btn btn-primary">New Quiz</a>
  {% else %}
  <span title="You must join this Colearning Space to create quizzes." data-bs-toggle="tooltip">
    <button type="submit" class="btn btn-secondary" disabled>New Quiz</button>
  </span>
  {% endif %}
</div>
{% endblock %}
