{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-4 mt-5">
        <h2 class="text-center">Login</h2>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="row mb-4">
                <div class="col d-flex">
                    <a href="{% url 'password_reset' %}">Forgot password?</a>
                </div>

                <div class="col d-flex justify-content-end">
                    {% bootstrap_button button_type="submit" content="Sign in" %}
                </div>
            </div>


            <div class="mt-5 text-center">
                <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
            </div>
        </form>
    </div>
</div>

{% endblock %}
