{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-4 mt-5">
        <h2 class="text-center">Reset Password</h2>
        <p>You are almost there. Please provide the password you want to use with ColearnApp.</p>

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="row mb-4">
                <div class="col d-flex">
                </div>

                <div class="col d-flex justify-content-end">
                    {% bootstrap_button button_type="submit" content="Reset" %}
                </div>
            </div>
        </form>

        <p class="mt-5"><a href="{% url 'login' %}">&laquo; Back to Login</a></p>
    </div>
</div>
{% endblock %}
