{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-4 mt-5">
        <h2 class="text-center">Change Password</h2>
        <p>You can update your password here, if you feel the urge to change it. We require you to also enter your current password, because we don't want you to be hacked if you left your computer unattended to grab a coffee.</p>

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="row mb-4">
                <div class="col d-flex">
                </div>

                <div class="col d-flex justify-content-end">
                    {% bootstrap_button button_type="submit" content="Update" %}
                </div>
            </div>
        </form>

        <p class="mt-5"><a href="{% url 'index' %}">&laquo; Back to Home</a></p>
    </div>
</div>
{% endblock %}
