<div class="row">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link{% if active_tab == 'main' %} active{% endif %}" href="{% url 'spaces:main' space.id %}">Main</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_tab == 'articles' %} active{% endif %}" href="{% url 'spaces:articles' space.id %}">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_tab == 'questions' %} active{% endif %}" href="{% url 'spaces:questions' space.id %}">Questions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_tab == 'quizzes' %} active{% endif %}" href="{% url 'spaces:quizzes' space.id %}">Quizzes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if active_tab == 'glossary' %} active{% endif %}" href="{% url 'spaces:glossary' space.id %}">Glossary</a>
        </li>
    </ul>
</div>
