<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Games that I played." />
        <meta name="author" content="Mustafa Çağatay Tulun" />
        <title>{{ game.game_title }} - Games I Played</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'games/style.css' %}">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'games:index' %}">Games I Played</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'games:index' %}">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="text-center mt-5 col-12">
                    <h1>{{ game.game_title }}</h1>
                    <p class="lead">{{ game_data.description }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="mt-5 game-detail-container col-8">
                    <img src="{{ game.cover_image_uri }}" alt="{{ game.game_title }}" />
                    <dl>
                        {% if game_data.genre %}
                        <dt>Genre</dt>
                        <dd>{{ game_data.genre }}</dd>
                        {% endif %}

                        {% if game_data.developer %}
                        <dt>Developer</dt>
                        <dd>{{ game_data.developer }}</dd>
                        {% endif %}

                        {% if game_data.publisher %}
                        <dt>Publisher</dt>
                        <dd>{{ game_data.publisher }}</dd>
                        {% endif %}
                    </dl>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="mt-5">
                        <p><a href="{% url 'games:index' %}">&laquo; Back to List</a></p>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <footer>
            <div class="text-center mt-5">
                <p>Copyright &copy; 2022 MÇT</p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
