{% extends 'base.html' %}

{% block content %}
{% if not user.is_authenticated %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Welcome to ColearnApp!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">ColearnApp provides you a unique way of learning by collaborating with fellow like-minded learners. You are free to browse colearning spaces. But registering and collaborating are free! So, why not register?</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'register' %}" role="button">Register Now</a>
            <a class="btn btn-outline-secondary btn-lg px-4" href="{% url 'login' %}" role="button">Login</a>
        </div>
    </div>
</div>

<hr />

<div class="px-4 my-5 text-center">
    <h1>Browse Colearning Spaces</h1>
</div>
{% else %}
<div class="px-4 my-5 text-center">
    <h1>Your Spaces</h1>
</div>

<hr />

<div class="px-4 my-5 text-center">
    <h1>Browse Colearning Spaces</h1>
</div>
{% endif %}
{% endblock %}
