{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
{% if not user.is_authenticated %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Welcome to ColearnApp!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">ColearnApp provides you a unique way of learning by collaborating with fellow like-minded learners. You are free to browse colearning spaces. But registering and collaborating are free! So, why not register?</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'register' %}" role="button">Register Now</a>
            <a class="btn btn-outline-secondary btn-lg px-4" href="{% url 'login' %}" role="button">Login</a>
        </div>
    </div>
</div>

{% else %}
<div class="px-4 my-5 text-center">
    <h1>Your Spaces</h1>
</div>
<div class="mt-5 spaces-container">
    {% if own_spaces %}
    <ul class="spaces-list">
        {% for space in own_spaces %}
        <li>
            <a href="{% url 'spaces:view' space.id %}"><img src="https://colearnapp-space-covers.s3.eu-west-1.amazonaws.com/{{ space.id }}.jpg" alt="{{ space.name }}" /><br />{{ space.name }}</a>
        </li>
        {% endfor %}
        <li>
            <a href="{% url 'spaces:create' %}"><img src="{% static 'dashboard/plus.png' %}" alt="Create a new Colearning Space" /><br />Create a new Colearning Space</a>
        </li>
    </ul>
    {% else %}
    <p class="text-center">You have not joined any space yet. Join a space to start colearning, or <a href="{% url 'spaces:create' %}">create a new one</a>.</p>
    {% endif %}
    <div class="clearfix"></div>
</div>
{% endif %}

<hr />

<div class="px-4 my-5 text-center">
    <h1>Browse Colearning Spaces</h1>
    <form method="get">
        <div class="row d-flex justify-content-center">
            <div class="col-4">
                {% bootstrap_form form %}
            </div>
        </div>
    </form>
</div>
<div class="mt-5 spaces-container">
    {% if page.object_list.count > 0 %}
        {% if is_searched %}
        <p class="text-center">Showing colearning spaces related with '{{ form.cleaned_data.search }}'.</p>
        {% endif %}
        <ul class="spaces-list">
            {% for space in page %}
            <li>
                <a href="{% url 'spaces:view' space.id %}"><img src="https://colearnapp-space-covers.s3.eu-west-1.amazonaws.com/{{ space.id }}.jpg" alt="{{ space.name }}" /><br />{{ space.name }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="clearfix"></div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item{% if page.number == 1 %} disabled{% endif %}">
                    <a class="page-link" href="{% url 'dashboard:index' %}?page={{ page.number|add:'-1' }}{% if is_searched %}&search={{ form.cleaned_data.search }}{% endif %}" aria-label="Previous"{% if page.number == 1 %} tabindex="-1" aria-disabled="true"{% endif %}>
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page_number in page.paginator.page_range %}
                <li class="page-item{% if page.number == page_number %} active{% endif %}">
                    <a class="page-link" href="{% url 'dashboard:index' %}?page={{ page_number }}{% if is_searched %}&search={{ form.cleaned_data.search }}{% endif %}">{{ page_number }}</a>
                </li>
                {% endfor %}
                <li class="page-item{% if page.number == page.paginator.num_pages %} disabled{% endif %}">
                    <a class="page-link" href="{% url 'dashboard:index' %}?page={{ page.number|add:'1' }}{% if is_searched %}&search={{ form.cleaned_data.search }}{% endif %}" aria-label="Next"{% if page.number == page.paginator.num_pages %} tabindex="-1" aria-disabled="true"{% endif %}>
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% else %}
    <p class="text-center">
        {% if is_searched %}
        There is no colearning space related with '{{ form.cleaned_data.search }}'.
        {% else %}
        No space has been created, yet.
        {% endif %}
    </p>
        {% if user.is_authenticated %}
        <p class="text-center">Why don't you <a href="{% url 'spaces:create' %}">create a new one</a>?</p>
        {% endif %}
    {% endif %}
    <div class="clearfix"></div>
</div>
{% endblock %}
